@import url("https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap");

@import "tailwindcss";

@theme {
    --font-sans: "Urbanist", sans-serif;
    --font-icon: "Material Icons";
    --font-icon-out: "Material Icons Outlined";

    --breakpoint-*: initial;
    --breakpoint-m-xs: 320px;
    --breakpoint-m-sm: 375px;
    --breakpoint-m: 480px;
    --breakpoint-m-xl: 600px;
    --breakpoint-t: 768px;
    --breakpoint-t-xl: 1024px;
    --breakpoint-l: 1280px;
    --breakpoint-l-xl: 1440px;
    --breakpoint-d: 1920px;
    --breakpoint-d-xl: 2340px;

    --color-dark-green-15: #1a3129;
    --color-dark-green-20: #234338;
    --color-dark-green-25: #2c5446;
    --color-dark-green-30: #356554;
    --color-dark-green-40: #468671;
    --color-dark-green-60: #79b9a4;
    --color-dark-green-80: #bcdcd1;
    --color-dark-green-90: #ddede8;

    --color-green-70: #cbea7b;
    --color-green-75: #d3ee91;
    --color-green-80: #dcf1a7;
    --color-green-85: #e5f5bd;
    --color-green-90: #eef8d3;
    --color-green-95: #f6fbe9;
    --color-green-97: #fafdf2;
    --color-green-99: #fdfefb;

    --color-gray-10: #1a1a1a;
    --color-gray-15: #262626;
    --color-gray-20: #333333;
    --color-gray-30: #4c4c4d;
    --color-gray-35: #59595a;
    --color-gray-40: #656567;
    --color-gray-50: #808081;
    --color-gray-60: #98989a;
    --color-gray-90: #e6e6e6;
    --color-gray-95: #f2f2f2;
    --color-gray-97: #f7f7f7;
    --color-gray-99: #fcfcfc;

    --spacing: 1px;
}

@layer components {
    .col-start {
        @apply flex flex-col items-start self-stretch;
    }

    .col-center {
        @apply flex flex-col items-center self-stretch;
    }

    .row-center {
        @apply flex flex-row items-center self-stretch;
    }

    .row-end {
        @apply flex flex-row items-end self-stretch;
    }

    .page {
        @apply justify-center gap-50 l:gap-80 d:gap-100;
    }

    .page-2 {
        @apply justify-center gap-50 l:gap-100 d:gap-150;
    }

    .box-dark-1 {
        @apply border border-dark-green-25 bg-dark-green-20;
    }

    .box-light-1 {
        @apply bg-green-95 border border-green-85;
    }

    .box-light-2 {
        @apply border border-green-90 bg-green-97;
    }

    .box-light-3 {
        @apply bg-green-95 border border-green-90;
    }

    .box-light-4 {
        @apply bg-green-90 border border-green-80;
    }

    .btn-primary {
        @apply border-none rounded-lg text-gray-15 text-lg font-semibold leading-normal bg-green-70;
        @apply px-24 py-14 cursor-pointer;
    }

    .sidenav {
        @apply flex l:hidden flex-col justify-start items-center rounded-b-[20px] bg-dark-green-15;
        @apply fixed top-0 right-0 z-3;
        @apply p-16 w-7/10 gap-30 h-full m-xl:w-1/2 m-xl:p-32 m-xl:gap-60;
    }

    .nav-bg {
        @apply fixed top-0 left-0 z-2 w-full h-full;
        background-color: rgba(255, 255, 255, 0.3);
        backdrop-filter: blur(4px);
    }

    #sidebar {
        @apply hidden;
    }

    #sidebar.active {
        @apply block;
    }

    .px-main {
        @apply px-16 t-xl:px-80 d:px-162;
    }

    .py-main {
        @apply py-50 l:py-60 d:py-80;
    }

    .mx-main {
        @apply mx-16 t-xl:mx-80 d:mx-162;
    }

    .g-section {
        @apply gap-50 t-xl:gap-60 d:gap-80;
    }

    .round-10 {
        @apply rounded-[10px] d:rounded-xl;
    }

    .common-grid {
        @apply grid grid-cols-1 l:grid-cols-2 self-stretch;
    }
}

@layer base {
    h1 {
        @apply m-0 text-dark-green-15 text-[38px] l:text-[48px] d:text-[58px] text-center font-sans font-black leading-none;
    }
    h2 {
        @apply m-0 text-gray-15 text-[28px] l:text-[38px] d:text-[48px] text-center font-sans font-bold leading-normal;
    }
    h3 {
        @apply m-0 text-gray-15 text-[22px] l:text-[24px] d:text-[30px] text-center font-sans font-semibold leading-normal;
    }
    h4 {
        @apply m-0 text-gray-15 text-[20px] l:text-[22px] d:text-[26px] text-center font-sans font-semibold leading-normal;
    }
    h5 {
        @apply m-0 text-gray-15 text-[18px] l:text-[20px] d:text-[24px] text-center font-sans font-semibold leading-normal;
    }
    h6 {
        @apply m-0 text-gray-15 text-[16px] l:text-[18px] d:text-[20px] text-center font-sans font-semibold leading-normal;
    }
    p {
        @apply m-0 text-gray-15 text-[14px] l:text-[16px] d:text-[18px] text-center font-sans font-medium leading-normal;
    }

    header {
        @apply flex relative overflow-hidden justify-between items-center self-stretch border border-b-dark-green-20 bg-dark-green-15;
        @apply d:px-162 t-xl:px-80 px-16 l:py-14 pt-40 pb-14;
    }

    footer {
        @apply flex border border-t-gray-15 flex-col items-start bg-dark-green-15;
        @apply gap-30 t-xl:gap-40 d:gap-50;
        @apply px-16 t-xl:px-80 d:px-162 py-30 t-xl:py-40 d:py-80;
    }
}

@utility p-10-* {
    @apply p-[calc(--value(integer)*var(--spacing))];
    @apply l:p-[calc((--value(integer)+10)*var(--spacing))];
    @apply d:p-[calc((--value(integer)+20)*var(--spacing))];
}

@utility px-4-* {
    @apply px-[calc(--value(integer)*var(--spacing))];
    @apply l:px-[calc((--value(integer)+4)*var(--spacing))];
    @apply d:px-[calc((--value(integer)+8)*var(--spacing))];
}

@utility px-10-* {
    @apply px-[calc(--value(integer)*var(--spacing))];
    @apply l:px-[calc((--value(integer)+10)*var(--spacing))];
    @apply d:px-[calc((--value(integer)+20)*var(--spacing))];
}

@utility py-4-* {
    @apply py-[calc(--value(integer)*var(--spacing))];
    @apply l:py-[calc((--value(integer)+4)*var(--spacing))];
    @apply d:py-[calc((--value(integer)+8)*var(--spacing))];
}

@utility py-10-* {
    @apply py-[calc(--value(integer)*var(--spacing))];
    @apply l:py-[calc((--value(integer)+10)*var(--spacing))];
    @apply d:py-[calc((--value(integer)+20)*var(--spacing))];
}

@utility pt-10-* {
    @apply pt-[calc(--value(integer)*var(--spacing))];
    @apply l:pt-[calc((--value(integer)+10)*var(--spacing))];
    @apply d:pt-[calc((--value(integer)+20)*var(--spacing))];
}

@utility gap-4-* {
    @apply gap-[calc(--value(integer)*var(--spacing))];
    @apply l:gap-[calc((--value(integer)+4)*var(--spacing))];
    @apply d:gap-[calc((--value(integer)+8)*var(--spacing))];
}

@utility gap-10-* {
    @apply gap-[calc(--value(integer)*var(--spacing))];
    @apply l:gap-[calc((--value(integer)+10)*var(--spacing))];
    @apply d:gap-[calc((--value(integer)+20)*var(--spacing))];
}
